<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".MainActivity"
    android:orientation="vertical">

    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Login Page"
        android:textSize="60sp"
        android:gravity="center"
        android:background="#2196F3"
        />

    <EditText
        android:id="@+id/email"
        android:layout_width="match_parent"
        android:layout_height="73dp"
        android:hint="Email ID"
        android:inputType="textEmailAddress"
        android:textColor="#000000" />

    <EditText
        android:layout_width="match_parent"
        android:layout_height="77dp"
        android:hint="Password"
        android:inputType="textPassword"
        android:textColor="#000000" />

    <Button
        android:layout_width="wrap_content"
        android:layout_height="60dp"
        android:layout_gravity="center"
        android:textSize="30sp"
        android:onClick="submit"
        android:text="Login" />

    <Button
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="center"
        android:textSize="30sp"
        android:onClick="register"
        android:text="Register" />


</LinearLayout>main acitivity xml